.loading {
  width: 100%;
  margin: 10rem 0;
  padding: 3rem;
  text-align: center;
  font-size: var(--font-20);
}

.channel-details {
  padding: 2rem;

  .cover {
    width: 100%;
    height: 30rem;
  }

  .details {
    padding: 2rem 0;

    .img{
      max-width: 180px;
      margin-right: 1rem;
      border-radius: 50%;
    }
    
    .title {
      display: inline-block;
      text-decoration: none;
      font-size: var(--font-16);
      font-weight: var(--font-bold);
      margin-bottom: 1rem;
    }

    .desc {
      font-size: var(--font-12);
      color: var(--grey);
      margin-bottom: 1rem;
    }
  }
}