.loading {
  width: 100%;
  margin: 10rem 0;
  padding: 3rem;
  text-align: center;
  font-size: var(--font-20);
}

.channel-details {
  padding: 2rem;

  .cover {
    width: 100%;
    height: 30rem;
  }

  .details {
    padding: 2rem 0;

    .content {
      display: flex;
      position: relative;

      .img{
        max-width: 18rem;
        margin-right: 1rem;
        border-radius: 50%;
        position: absolute;
        bottom: 6rem;
      }
      
      .title {
        display: inline-block;
        text-decoration: none;
        font-size: var(--font-16);
        font-weight: var(--font-bold);
        margin-bottom: 1rem;
        position: absolute;
        bottom: 12.5rem;
        left: 19.5rem;
      }
    }

    .desc {
      font-size: var(--font-12);
      color: var(--grey);
      margin-bottom: 1rem;
    }
  }
}