.video{
  cursor: pointer;
  margin: 2rem;
  display:flex !important;
  align-items: center !important;

  img{
    max-width: 180px;
    margin-right: 1rem;
  }
  
  .content{
    overflow: hidden;
    font-size: var(--font-16);
    text-align: justify;

    .title {
      text-decoration: none;
      margin-bottom: 2rem;
      display: inline-block;
    }

    .channel {
      color: var(--grey);
    }
  }
}

